<div class="grid">
  <div class="page-header">
    <h1>Deezer Search</h1>
  </div>
  <div class="main">
    <div class="search">
      <app-search (searchTermEvent)="getSearch($event)" [hidden]="hideSearch"></app-search>
    </div>
    <div class="results">
      <app-search-results (artistEvent)="getArtist($event)" [searchTerm]="artistSearch" [hidden]="hideSearchResults">
      </app-search-results>
    </div>
    <div class="artist-profile" [hidden]="hideArtist">
      <app-artist (hidePageEvent)="getHidePageEvent($event)" [artistData]="artist"></app-artist>
    </div>
  </div>
  <div id="page-bottom" class="page-footer">
    <h6 id="dev-signature" class="signature">Developed by Randolph Aguanomwan</h6>
  </div>
</div>
